/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2023 Hisanori YAMAOKU
 */

/ {
	aliases {
		die-temp0 = &temp;
	};
};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
    
		rolling_buffer: partition@7F000 {
    	    label = "rolling_buffer";
        	reg = <0x7F000 DT_SIZE_K(2)>; /* 32b for log storage */
			compatible = "fixed-partition";
    	};
	};
};



// / {
//     flash_circular_buffer: flash_circular_buffer {
//         compatible = "zephyr,flash-circular-buffer";
//         label = "FCB_STORAGE";
//         // erase-block-size = <4096>;   // must match hardware page size
//         // flash-area = <&storage_partition>; // use storage partition
// 		reg = <0x3C000 0x4000>;   /* start address 0x3C000, size 16 KB */
//     };
// };

// &flash0 {
// 	partitions {
// 		// compatible = "zephyr,flash-circular-buffer";
// 		compatible = "fixed-partitions";
//         #address-cells = <1>;
//         #size-cells = <1>;

// 		fcb_partition: partition@40000 {
// 			label = "fcb";
// 			// erase-block-size = <4096>;   // must match hardware page size
// 			// flash-area = <&storage_partition>; // use storage partition
// 			reg = <0x40000 0x0004000>;   /* start address 0x3C000, size 16 KB */
// 		};    
// 	};
// };

// &flash0 {
//     partitions {
//         rolling_buf: partition@7a000 {
//             label = "rolling_buf";
//             reg = <0x7a000 0x10000>; // 64 KB
//         };
//     };
// };